Name: Krishna GSVV  
Roll no. AV.EN.U4CSE22016  
Date: 20/8/24

In [3]:
import pandas as pd
import numpy as np
ser = pd.Series()
print("pandas series:",ser)
data = np.array(['g','e','e','k','s'])
ser =pd.Series(data)
print("pandas series:\n",ser)

pandas series: Series([], dtype: object)
pandas series:
 0    g
1    e
2    e
3    k
4    s
dtype: object

In [6]:
import pandas as pd
import numpy as np
series = ['c','s','e']
ser =pd.Series(series)
print(ser)

0    c
1    s
2    e
dtype: object

In [7]:
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [8]:
import pandas as pd
data=(["name","age"],["harshi","19"],["rishi","19"])
df=pd.DataFrame(data)
print(df)

        0    1
0    name  age
1  harshi   19
2   rishi   19

In [13]:
import pandas as pd
data={"name":["harshi","rishi"],"Age":[19,19]}
df=pd.DataFrame(data)
print(df)

     name  Age
0  harshi   19
1   rishi   19

In [16]:
import pandas as pd
data={"name":["jai","princi","gaurav","anuj"],"Age":[27,24,22,32],"Address":["delhi","kanpur","allhabad","kannaauj"],"Qualification":["msc","ma","mca","phd"]}
df=pd.DataFrame(data)
print(df)

     name  Age   Address Qualification
0     jai   27     delhi           msc
1  princi   24    kanpur            ma
2  gaurav   22  allhabad           mca
3    anuj   32  kannaauj           phd

In [19]:
import pandas as pd
data={"name":["jai","princi","gaurav","anuj"],"Age":[27,24,22,32],"Address":["delhi","kanpur","allhabad","kannaauj"],"Qualification":["msc","ma","mca","phd"]}
df=pd.DataFrame(data)
print(df[["name","Qualification"]])

     name Qualification
0     jai           msc
1  princi            ma
2  gaurav           mca
3    anuj           phd

In [26]:
import pandas as pd
data =pd.read_csv("nba.csv",index_col="Name")
print(data)
data.shape

                         Team  Number Position   Age Height  Weight  \
Name
Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
Jae Crowder    Boston Celtics    99.0       SF  25.0    6-6   235.0
John Holland   Boston Celtics    30.0       SG  27.0    6-5   205.0
R.J. Hunter    Boston Celtics    28.0       SG  22.0    6-5   185.0
Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
...                       ...     ...      ...   ...    ...     ...
Shelvin Mack        Utah Jazz     8.0       PG  26.0    6-3   203.0
Raul Neto           Utah Jazz    25.0       PG  24.0    6-1   179.0
Tibor Pleiss        Utah Jazz    21.0        C  26.0    7-3   256.0
Jeff Withey         Utah Jazz    24.0        C  26.0    7-0   231.0
NaN                       NaN     NaN      NaN   NaN    NaN     NaN

                         College     Salary
Name
Avery Bradley              Texas  7730337.0
Jae Crowder            Marquette  6796117.0
John Holland   Boston University        NaN
R.J. Hunter        Georgia State  1148640.0
Jonas Jerebko                NaN  5000000.0
...                          ...        ...
Shelvin Mack              Butler  2433333.0
Raul Neto                    NaN   900000.0
Tibor Pleiss                 NaN  2900000.0
Jeff Withey               Kansas   947276.0
NaN                          NaN        NaN

[458 rows x 8 columns]

(458, 8)

In [27]:
print(data.iloc[0])

Team        Boston Celtics
Number                 0.0
Position                PG
Age                   25.0
Height                 6-2
Weight               180.0
College              Texas
Salary           7730337.0
Name: Avery Bradley, dtype: object

In [29]:
print(data.loc["Avery Bradley"])

Team        Boston Celtics
Number                 0.0
Position                PG
Age                   25.0
Height                 6-2
Weight               180.0
College              Texas
Salary           7730337.0
Name: Avery Bradley, dtype: object

In [22]:
import pandas as pd
data = pd.read_csv("nba.csv", index_col ="Name")
first = data.loc["Avery Bradley"]
second = data.loc["R.J. Hunter"]
print(first, "\n\n\n", second)

Team        Boston Celtics
Number                 0.0
Position                PG
Age                   25.0
Height                 6-2
Weight               180.0
College              Texas
Salary           7730337.0
Name: Avery Bradley, dtype: object


 Team        Boston Celtics
Number                28.0
Position                SG
Age                   22.0
Height                 6-5
Weight               185.0
College      Georgia State
Salary           1148640.0
Name: R.J. Hunter, dtype: object

In [31]:
data.sort_values(by="Age")

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Rashad Vaughn,Milwaukee Bucks,20.0,SG,19.0,6-6,202.0,UNLV,1733040.0
Devin Booker,Phoenix Suns,1.0,SG,19.0,6-6,206.0,Kentucky,2127840.0
Kristaps Porzingis,New York Knicks,6.0,PF,20.0,7-3,240.0,NaN,4131720.0
Tyus Jones,Minnesota Timberwolves,1.0,PG,20.0,6-2,195.0,Duke,1282080.0
Cliff Alexander,Portland Trail Blazers,34.0,PF,20.0,6-8,240.0,Kansas,525093.0
...,...,...,...,...,...,...,...,...
Pablo Prigioni,Los Angeles Clippers,9.0,PG,39.0,6-3,185.0,NaN,947726.0
Tim Duncan,San Antonio Spurs,21.0,C,40.0,6-11,250.0,Wake Forest,5250000.0
Kevin Garnett,Minnesota Timberwolves,21.0,PF,40.0,6-11,240.0,NaN,8500000.0
Andre Miller,San Antonio Spurs,24.0,PG,40.0,6-3,200.0,Utah,250750.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
data.sort_values(by="Age",ascending=False)

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Andre Miller,San Antonio Spurs,24.0,PG,40.0,6-3,200.0,Utah,250750.0
Kevin Garnett,Minnesota Timberwolves,21.0,PF,40.0,6-11,240.0,NaN,8500000.0
Tim Duncan,San Antonio Spurs,21.0,C,40.0,6-11,250.0,Wake Forest,5250000.0
Vince Carter,Memphis Grizzlies,15.0,SG,39.0,6-6,220.0,North Carolina,4088019.0
Pablo Prigioni,Los Angeles Clippers,9.0,PG,39.0,6-3,185.0,NaN,947726.0
...,...,...,...,...,...,...,...,...
Tyus Jones,Minnesota Timberwolves,1.0,PG,20.0,6-2,195.0,Duke,1282080.0
Christian Wood,Philadelphia 76ers,35.0,PF,20.0,6-11,220.0,UNLV,525093.0
Rashad Vaughn,Milwaukee Bucks,20.0,SG,19.0,6-6,202.0,UNLV,1733040.0
Devin Booker,Phoenix Suns,1.0,SG,19.0,6-6,206.0,Kentucky,2127840.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
data.sort_values(by=["Age","Salary"],ascending=False)

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Kevin Garnett,Minnesota Timberwolves,21.0,PF,40.0,6-11,240.0,NaN,8500000.0
Tim Duncan,San Antonio Spurs,21.0,C,40.0,6-11,250.0,Wake Forest,5250000.0
Andre Miller,San Antonio Spurs,24.0,PG,40.0,6-3,200.0,Utah,250750.0
Vince Carter,Memphis Grizzlies,15.0,SG,39.0,6-6,220.0,North Carolina,4088019.0
Pablo Prigioni,Los Angeles Clippers,9.0,PG,39.0,6-3,185.0,NaN,947726.0
...,...,...,...,...,...,...,...,...
Christian Wood,Philadelphia 76ers,35.0,PF,20.0,6-11,220.0,UNLV,525093.0
Cliff Alexander,Portland Trail Blazers,34.0,PF,20.0,6-8,240.0,Kansas,525093.0
Devin Booker,Phoenix Suns,1.0,SG,19.0,6-6,206.0,Kentucky,2127840.0
Rashad Vaughn,Milwaukee Bucks,20.0,SG,19.0,6-6,202.0,UNLV,1733040.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
data.sort_values(by=["Age","Salary"],na_position='first')

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rashad Vaughn,Milwaukee Bucks,20.0,SG,19.0,6-6,202.0,UNLV,1733040.0
Devin Booker,Phoenix Suns,1.0,SG,19.0,6-6,206.0,Kentucky,2127840.0
Christian Wood,Philadelphia 76ers,35.0,PF,20.0,6-11,220.0,UNLV,525093.0
Cliff Alexander,Portland Trail Blazers,34.0,PF,20.0,6-8,240.0,Kansas,525093.0
...,...,...,...,...,...,...,...,...
Pablo Prigioni,Los Angeles Clippers,9.0,PG,39.0,6-3,185.0,NaN,947726.0
Vince Carter,Memphis Grizzlies,15.0,SG,39.0,6-6,220.0,North Carolina,4088019.0
Andre Miller,San Antonio Spurs,24.0,PG,40.0,6-3,200.0,Utah,250750.0
Tim Duncan,San Antonio Spurs,21.0,C,40.0,6-11,250.0,Wake Forest,5250000.0
Kevin Garnett,Minnesota Timberwolves,21.0,PF,40.0,6-11,240.0,NaN,8500000.0